{
  "Apps": [
    {
      "Name": "first",
      "Ports": [
        15001,
        15002,
        15003
      ],
      "Targets": [
        "127.0.0.1:10001",
        "localhost:10002"
      ]
    },
    {
      "Name": "second",
      "Ports": [
        16001,
        16002
      ],
      "Targets": [
        "127.0.0.1:11001",
        "localhost:11002",
        "badroute:6003"
      ]
    }
  ]
}